@tailwind base;
@tailwind components;
@tailwind utilities;


.inputtype{
    @apply
    focus:shadow-soft-primary-outline text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow 
}
.inputname{
    @apply
    mb-2 ml-1 font-bold text-size-xs text-slate-700
}
.buttonregist{
    @apply
    inline-block w-full px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-size-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gradient-dark-gray hover:border-slate-700 hover:bg-slate-700 hover:text-white
}
.buttonlogin{
    @apply
    inline-block w-full px-6 py-3 mt-6 mb-0 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-size-xs ease-soft-in tracking-tight-soft bg-gradient-orange hover:scale-102 hover:shadow-soft-xs active:opacity-85
}
.cards{
@apply
    grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4
}

.cardhome{
@apply
flex items-center p-4 bg-white rounded-lg shadow-inner  border-2 hover:border-orange-400
}

.cardtext{
    @apply
    font-medium text-gray-600 mb-0
}
.searchbar{
    @apply 
    rounded-lg border-orange-500 bg-black
}

.biru{
    @apply
    text-blue-500
}

.dekstopside{
    @apply inline-flex items-center w-full text-sm font-semibold text-gray-50 hover:text-orange-400 transition-colors duration-150

}
.pages{
@apply
inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 text-gray-50 hover:text-orange-400
}
.pdf{
@apply
px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200

}

.mobileside{
@apply
inline-flex items-center w-full text-sm font-semibold text-gray-50 hover:text-orange-400  transition-colors duration-150
}
